<a href="https://colab.research.google.com/github/cristian-rincon/escuela-datascience/blob/master/manipulacion_datos_pandas/13_datetime.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive/')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive/

In [2]:
%cd '/content/drive/My Drive/Colab Notebooks/db'
!ls

/content/drive/My Drive/Colab Notebooks/db
API_SP.POP.TOTL_DS2_en_csv_v2_1308146  poblacion.csv  test.parquet
covid_19_data.csv		       test.csv       test.pkl
dataset_london_bikeshare.csv	       test.hdf       test.xlsx
Meteorite_Landings.csv		       test.json

In [3]:
import pandas as pd
pd.__version__

'1.0.5'

In [6]:
df = pd.read_csv('covid_19_data.csv')
df.sample(10)
df['ObservationDate'] = pd.to_datetime(df['ObservationDate'])
list(df)

['SNo',
 'ObservationDate',
 'Province/State',
 'Country/Region',
 'Last Update',
 'Confirmed',
 'Deaths',
 'Recovered']

In [7]:
df = df[[
 'ObservationDate',
 'Country/Region',
 'Confirmed',
 'Deaths',
 'Recovered']]

df

      ObservationDate  Country/Region  Confirmed  Deaths  Recovered
0          2020-01-22  Mainland China        1.0     0.0        0.0
1          2020-01-22  Mainland China       14.0     0.0        0.0
2          2020-01-22  Mainland China        6.0     0.0        0.0
3          2020-01-22  Mainland China        1.0     0.0        0.0
4          2020-01-22  Mainland China        0.0     0.0        0.0
...               ...             ...        ...     ...        ...
83406      2020-08-09         Ukraine      937.0    22.0      652.0
83407      2020-08-09     Netherlands      918.0    69.0        0.0
83408      2020-08-09  Mainland China     1273.0     1.0     1268.0
83409      2020-08-09         Ukraine     2131.0    41.0     1524.0
83410      2020-08-09     Netherlands    14931.0  1312.0        0.0

[83411 rows x 5 columns]

In [9]:
df_time = df.groupby('ObservationDate').sum()
df_time.head(5)

                 Confirmed  Deaths  Recovered
ObservationDate
2020-01-22           555.0    17.0       28.0
2020-01-23           653.0    18.0       30.0
2020-01-24           941.0    26.0       36.0
2020-01-25          1438.0    42.0       39.0
2020-01-26          2118.0    56.0       52.0

In [10]:
df1 = df_time['Confirmed'].iloc[10:15]
df1

ObservationDate
2020-02-01    12038.0
2020-02-02    16787.0
2020-02-03    19881.0
2020-02-04    23892.0
2020-02-05    27636.0
Name: Confirmed, dtype: float64

In [14]:
df2 = df_time['Deaths'].iloc[12:17]
df2

ObservationDate
2020-02-03    426.0
2020-02-04    492.0
2020-02-05    564.0
2020-02-06    634.0
2020-02-07    719.0
Name: Deaths, dtype: float64

In [15]:
df1 - df2

ObservationDate
2020-02-01        NaN
2020-02-02        NaN
2020-02-03    19455.0
2020-02-04    23400.0
2020-02-05    27072.0
2020-02-06        NaN
2020-02-07        NaN
dtype: float64

In [17]:
df_time

                  Confirmed    Deaths   Recovered
ObservationDate
2020-01-22            555.0      17.0        28.0
2020-01-23            653.0      18.0        30.0
2020-01-24            941.0      26.0        36.0
2020-01-25           1438.0      42.0        39.0
2020-01-26           2118.0      56.0        52.0
...                     ...       ...         ...
2020-08-05       18811953.0  707820.0  11356275.0
2020-08-06       19097149.0  714940.0  11545401.0
2020-08-07       19378036.0  721324.0  11737927.0
2020-08-08       19637506.0  726781.0  11939109.0
2020-08-09       19861683.0  731326.0  12115825.0

[201 rows x 3 columns]

In [19]:
df_time.diff().mean()

Confirmed    99305.640
Deaths        3656.545
Recovered    60578.985
dtype: float64

In [21]:
df_diff = df_time.diff()
df_diff

                 Confirmed  Deaths  Recovered
ObservationDate
2020-01-22             NaN     NaN        NaN
2020-01-23            98.0     1.0        2.0
2020-01-24           288.0     8.0        6.0
2020-01-25           497.0    16.0        3.0
2020-01-26           680.0    14.0       13.0
...                    ...     ...        ...
2020-08-05        271164.0  7084.0   221540.0
2020-08-06        285196.0  7120.0   189126.0
2020-08-07        280887.0  6384.0   192526.0
2020-08-08        259470.0  5457.0   201182.0
2020-08-09        224177.0  4545.0   176716.0

[201 rows x 3 columns]

In [25]:
df_time.head(1).to_dict()

{'Confirmed': {Timestamp('2020-01-22 00:00:00'): 555.0},
 'Deaths': {Timestamp('2020-01-22 00:00:00'): 17.0},
 'Recovered': {Timestamp('2020-01-22 00:00:00'): 28.0}}

In [27]:
df_diff = df_diff.fillna({'Confirmed':  555.0,
 'Deaths': 17.0,
 'Recovered': 28.0})

In [28]:
df_diff

                 Confirmed  Deaths  Recovered
ObservationDate
2020-01-22           555.0    17.0       28.0
2020-01-23            98.0     1.0        2.0
2020-01-24           288.0     8.0        6.0
2020-01-25           497.0    16.0        3.0
2020-01-26           680.0    14.0       13.0
...                    ...     ...        ...
2020-08-05        271164.0  7084.0   221540.0
2020-08-06        285196.0  7120.0   189126.0
2020-08-07        280887.0  6384.0   192526.0
2020-08-08        259470.0  5457.0   201182.0
2020-08-09        224177.0  4545.0   176716.0

[201 rows x 3 columns]

In [29]:
df_diff.cumsum()

                  Confirmed    Deaths   Recovered
ObservationDate
2020-01-22            555.0      17.0        28.0
2020-01-23            653.0      18.0        30.0
2020-01-24            941.0      26.0        36.0
2020-01-25           1438.0      42.0        39.0
2020-01-26           2118.0      56.0        52.0
...                     ...       ...         ...
2020-08-05       18811953.0  707820.0  11356275.0
2020-08-06       19097149.0  714940.0  11545401.0
2020-08-07       19378036.0  721324.0  11737927.0
2020-08-08       19637506.0  726781.0  11939109.0
2020-08-09       19861683.0  731326.0  12115825.0

[201 rows x 3 columns]

In [31]:
df_diff.resample('M').sum()

                 Confirmed    Deaths  Recovered
ObservationDate
2020-01-31          9925.0     213.0      222.0
2020-02-29         76088.0    2728.0    39560.0
2020-03-31        771474.0   39166.0   138246.0
2020-04-30       2399359.0  191281.0   836725.0
2020-05-31       2910100.0  138647.0  1626576.0
2020-06-30       4308892.0  139218.0  2711943.0
2020-07-31       7123998.0  168247.0  5015868.0
2020-08-31       2261847.0   51826.0  1746685.0

In [32]:
df_diff.resample('M').count()

                 Confirmed  Deaths  Recovered
ObservationDate
2020-01-31              10      10         10
2020-02-29              29      29         29
2020-03-31              31      31         31
2020-04-30              30      30         30
2020-05-31              31      31         31
2020-06-30              30      30         30
2020-07-31              31      31         31
2020-08-31               9       9          9