<a href="https://colab.research.google.com/github/cristian-rincon/escuela-datascience/blob/master/manipulacion_datos_pandas/3_save_and_load.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Give access to Google Drive from Colab

## Authenticate and mount drive as hard disk

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

## Change to directory called Colab Notebooks

In [3]:
%cd '/content/drive/My Drive/Colab Notebooks'
!ls

/content/drive/My Drive/Colab Notebooks
basics_python.ipynb  manipulacion_datos_pandas	regresion_lineal.ipynb
db		     programming_challenges
First_Queue.ipynb    pruebas_pandas_profiling

## Creating new directory called db

In [4]:
!mkdir /content/drive/My\ Drive/Colab\ Notebooks/db

mkdir: cannot create directory ‘/content/drive/My Drive/Colab Notebooks/db’: File exists

In [5]:
import os
filename = 'test.xls'
pandas_dir = os.path.join('/content/drive/My Drive/Colab Notebooks/db/',filename)
pandas_dir

'/content/drive/My Drive/Colab Notebooks/db/test.xls'

In [6]:
import pandas as pd
pd.__version__

'1.0.5'

In [7]:
import numpy as np

In [8]:
dict_data = {
    'edad': [10,9,13,14,12,11,12],
    'cm': [115,110,130,155,125,120,125],
    'pais':['co','mx','co','mx','mx','ch','ch'],
    'genero':['M','F','F','M','M','M','F'],
    'Q1':[5,10,8,np.nan,7,8,3],
    'Q2':[7,9,9,8,8,8,9]
}

In [9]:
df = pd.DataFrame(dict_data)
df

   edad   cm pais genero    Q1  Q2
0    10  115   co      M   5.0   7
1     9  110   mx      F  10.0   9
2    13  130   co      F   8.0   9
3    14  155   mx      M   NaN   8
4    12  125   mx      M   7.0   8
5    11  120   ch      M   8.0   8
6    12  125   ch      F   3.0   9

## Formato .csv

In [10]:
filename = 'test.csv'
pandas_dir = os.path.join('/content/drive/My Drive/Colab Notebooks/db/',filename)
pandas_dir

'/content/drive/My Drive/Colab Notebooks/db/test.csv'

In [11]:
df.to_csv(pandas_dir, index=False)

In [12]:
!ls /content/drive/My\ Drive/Colab\ Notebooks/db/

test.csv

In [13]:
df_read = pd.read_csv(pandas_dir, sep='|')
df_read

  edad,cm,pais,genero,Q1,Q2
0         10,115,co,M,5.0,7
1         9,110,mx,F,10.0,9
2         13,130,co,F,8.0,9
3            14,155,mx,M,,8
4         12,125,mx,M,7.0,8
5         11,120,ch,M,8.0,8
6         12,125,ch,F,3.0,9

In [14]:
df.to_csv(pandas_dir,sep='|', index=False)

## Formato .xlsx

In [15]:
filename = 'test.xlsx'
pandas_dir = os.path.join('/content/drive/My Drive/Colab Notebooks/db/',filename)
pandas_dir

'/content/drive/My Drive/Colab Notebooks/db/test.xlsx'

In [23]:
excel_doc = df.to_excel(pandas_dir,index=False, sheet_name='Hoja_1')

In [24]:
pd.read_excel(pandas_dir)

   edad   cm pais genero    Q1  Q2
0    10  115   co      M   5.0   7
1     9  110   mx      F  10.0   9
2    13  130   co      F   8.0   9
3    14  155   mx      M   NaN   8
4    12  125   mx      M   7.0   8
5    11  120   ch      M   8.0   8
6    12  125   ch      F   3.0   9

## Formato .json

In [31]:
filename = 'test.json'
pandas_dir = '/content/drive/My Drive/Colab Notebooks/db/'
full_path = os.path.join(pandas_dir,filename)
json_file = df.to_json(full_path)

In [33]:
pd.read_json(full_path)

   edad   cm pais genero    Q1  Q2
0    10  115   co      M   5.0   7
1     9  110   mx      F  10.0   9
2    13  130   co      F   8.0   9
3    14  155   mx      M   NaN   8
4    12  125   mx      M   7.0   8
5    11  120   ch      M   8.0   8
6    12  125   ch      F   3.0   9

## Formato pickle

In [34]:
filename = 'test.pkl'
pandas_dir = '/content/drive/My Drive/Colab Notebooks/db/'
full_path = os.path.join(pandas_dir,filename)
pickle_file = df.to_pickle(full_path)

In [35]:
pd.read_pickle(full_path)

   edad   cm pais genero    Q1  Q2
0    10  115   co      M   5.0   7
1     9  110   mx      F  10.0   9
2    13  130   co      F   8.0   9
3    14  155   mx      M   NaN   8
4    12  125   mx      M   7.0   8
5    11  120   ch      M   8.0   8
6    12  125   ch      F   3.0   9

## Formato Parquet

In [48]:
filename = 'test.parquet'
pandas_dir = '/content/drive/My Drive/Colab Notebooks/db/'
full_path = os.path.join(pandas_dir,filename)
parquet_file = df.to_parquet(full_path)

In [49]:
pd.read_parquet(full_path)

   edad   cm pais genero    Q1  Q2
0    10  115   co      M   5.0   7
1     9  110   mx      F  10.0   9
2    13  130   co      F   8.0   9
3    14  155   mx      M   NaN   8
4    12  125   mx      M   7.0   8
5    11  120   ch      M   8.0   8
6    12  125   ch      F   3.0   9

## Formato hdf

In [51]:
filename = 'test.hdf'
pandas_dir = '/content/drive/My Drive/Colab Notebooks/db/'
full_path = os.path.join(pandas_dir,filename)
hdf_file = df.to_hdf(full_path,key='data',format='table')

In [52]:

pd.read_hdf(full_path)

   edad   cm pais genero    Q1  Q2
0    10  115   co      M   5.0   7
1     9  110   mx      F  10.0   9
2    13  130   co      F   8.0   9
3    14  155   mx      M   NaN   8
4    12  125   mx      M   7.0   8
5    11  120   ch      M   8.0   8
6    12  125   ch      F   3.0   9

## Buscar información acerca de:

Pandas IO TOOLS

[Ir a pandas IO Tools](https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html)