<a href="https://colab.research.google.com/github/cristian-rincon/escuela-datascience/blob/master/manipulacion_datos_pandas/3_save_and_load.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Give access to Google Drive from Colab

## Authenticate and mount drive as hard disk

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

## Change to directory called Colab Notebooks

In [7]:
%cd '/content/drive/My Drive/Colab Notebooks'
!ls

/content/drive/My Drive/Colab Notebooks
basics_python.ipynb  manipulacion_datos_pandas	regresion_lineal.ipynb
First_Queue.ipynb    programming_challenges

## Creating new directory called db

In [8]:
!mkdir /content/drive/My\ Drive/Colab\ Notebooks/db

In [17]:
import os
filename = 'test.xls'
pandas_dir = os.path.join('/content/drive/My Drive/Colab Notebooks/db/',filename)
pandas_dir

'/content/drive/My Drive/Colab Notebooks/db/test.xls'

In [11]:
import pandas as pd
pd.__version__

'1.0.5'

In [12]:
import numpy as np

In [13]:
dict_data = {
    'edad': [10,9,13,14,12,11,12],
    'cm': [115,110,130,155,125,120,125],
    'pais':['co','mx','co','mx','mx','ch','ch'],
    'genero':['M','F','F','M','M','M','F'],
    'Q1':[5,10,8,np.nan,7,8,3],
    'Q2':[7,9,9,8,8,8,9]
}

In [14]:
df = pd.DataFrame(dict_data)
df

   edad   cm pais genero    Q1  Q2
0    10  115   co      M   5.0   7
1     9  110   mx      F  10.0   9
2    13  130   co      F   8.0   9
3    14  155   mx      M   NaN   8
4    12  125   mx      M   7.0   8
5    11  120   ch      M   8.0   8
6    12  125   ch      F   3.0   9

In [19]:
filename = 'test.csv'
pandas_dir = os.path.join('/content/drive/My Drive/Colab Notebooks/db/',filename)
pandas_dir

'/content/drive/My Drive/Colab Notebooks/db/test.csv'

In [22]:
df.to_csv(pandas_dir, index=False)

In [23]:
!ls /content/drive/My\ Drive/Colab\ Notebooks/db/

test.csv

In [29]:
df_read = pd.read_csv(pandas_dir, sep='|')
df_read

   edad   cm pais genero    Q1  Q2
0    10  115   co      M   5.0   7
1     9  110   mx      F  10.0   9
2    13  130   co      F   8.0   9
3    14  155   mx      M   NaN   8
4    12  125   mx      M   7.0   8
5    11  120   ch      M   8.0   8
6    12  125   ch      F   3.0   9

In [27]:
df.to_csv(pandas_dir,sep='|', index=False)