<a href="https://colab.research.google.com/github/cristian-rincon/escuela-datascience/blob/master/manipulacion_datos_pandas/4_datatypes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install --upgrade pandas

Requirement already up-to-date: pandas in /usr/local/lib/python3.6/dist-packages (1.0.5)
Requirement already satisfied, skipping upgrade: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas) (2.8.1)
Requirement already satisfied, skipping upgrade: numpy>=1.13.3 in /usr/local/lib/python3.6/dist-packages (from pandas) (1.18.5)
Requirement already satisfied, skipping upgrade: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas) (2018.9)
Requirement already satisfied, skipping upgrade: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.6.1->pandas) (1.15.0)

In [2]:
from google.colab import drive
drive.mount('/content/drive/')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive/

> Link para buscar datasets de pruebas [click aquí](https://datasetsearch.research.google.com/)

In [6]:
%cd '/content/drive/My Drive/Colab Notebooks/db'
!ls

/content/drive/My Drive/Colab Notebooks/db
Meteorite_Landings.csv	test.hdf   test.parquet  test.xlsx
test.csv		test.json  test.pkl

In [8]:
import pandas as pd
pd.__version__

'1.0.5'

In [9]:
df_meteorites = pd.read_csv('Meteorite_Landings.csv')

In [11]:
df_meteorites.head(10) #tail() sample()

                  name   id nametype  ...    reclat    reclong           GeoLocation
0               Aachen    1    Valid  ...  50.77500    6.08333     (50.775, 6.08333)
1               Aarhus    2    Valid  ...  56.18333   10.23333  (56.18333, 10.23333)
2                 Abee    6    Valid  ...  54.21667 -113.00000    (54.21667, -113.0)
3             Acapulco   10    Valid  ...  16.88333  -99.90000     (16.88333, -99.9)
4              Achiras  370    Valid  ... -33.16667  -64.95000   (-33.16667, -64.95)
5             Adhi Kot  379    Valid  ...  32.10000   71.80000          (32.1, 71.8)
6  Adzhi-Bogdo (stone)  390    Valid  ...  44.83333   95.16667  (44.83333, 95.16667)
7                 Agen  392    Valid  ...  44.21667    0.61667   (44.21667, 0.61667)
8               Aguada  398    Valid  ... -31.60000  -65.23333    (-31.6, -65.23333)
9        Aguila Blanca  417    Valid  ... -30.86667  -64.55000   (-30.86667, -64.55)

[10 rows x 10 columns]

In [12]:
df_meteorites.shape

(45716, 10)

In [14]:
df_meteorites.size

457160

In [20]:
pd.options.display.float_format='{:,.1f}'.format

In [21]:
df_meteorites.describe()

            id     mass (g)   reclat  reclong
count 45,716.0     45,585.0 38,401.0 38,401.0
mean  26,889.7     13,278.1    -39.1     61.1
std   16,860.7    574,988.9     46.4     80.6
min        1.0          0.0    -87.4   -165.4
25%   12,688.8          7.2    -76.7      0.0
50%   24,261.5         32.6    -71.5     35.7
75%   40,656.8        202.6      0.0    157.2
max   57,458.0 60,000,000.0     81.2    354.5

In [22]:
df_meteorites.describe(include='all')

                         name       id nametype  ...   reclat  reclong GeoLocation
count                   45716 45,716.0    45716  ... 38,401.0 38,401.0       38401
unique                  45716      nan        2  ...      nan      nan       17100
top     Northwest Africa 4616      nan    Valid  ...      nan      nan  (0.0, 0.0)
freq                        1      nan    45641  ...      nan      nan        6214
mean                      NaN 26,889.7      NaN  ...    -39.1     61.1         NaN
std                       NaN 16,860.7      NaN  ...     46.4     80.6         NaN
min                       NaN      1.0      NaN  ...    -87.4   -165.4         NaN
25%                       NaN 12,688.8      NaN  ...    -76.7      0.0         NaN
50%                       NaN 24,261.5      NaN  ...    -71.5     35.7         NaN
75%                       NaN 40,656.8      NaN  ...      0.0    157.2         NaN
max                       NaN 57,458.0      NaN  ...     81.2    354.5         NaN

[11 rows x 10 columns]

In [23]:
df_meteorites.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45716 entries, 0 to 45715
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         45716 non-null  object
 1   id           45716 non-null  int64
 2   nametype     45716 non-null  object
 3   recclass     45716 non-null  object
 4   mass (g)     45585 non-null  float64
 5   fall         45716 non-null  object
 6   year         45425 non-null  object
 7   reclat       38401 non-null  float64
 8   reclong      38401 non-null  float64
 9   GeoLocation  38401 non-null  object
dtypes: float64(3), int64(1), object(6)
memory usage: 3.5+ MB

In [24]:
df_meteorites.dtypes

name            object
id               int64
nametype        object
recclass        object
mass (g)       float64
fall            object
year            object
reclat         float64
reclong        float64
GeoLocation     object
dtype: object

In [25]:
df_meteorites.convert_dtypes().dtypes

name            string
id               Int64
nametype        string
recclass        string
mass (g)       float64
fall            string
year            string
reclat         float64
reclong        float64
GeoLocation     string
dtype: object