<a href="https://colab.research.google.com/github/cristian-rincon/escuela-datascience/blob/master/manipulacion_datos_pandas/5_maths.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install --upgrade pandas

Requirement already up-to-date: pandas in /usr/local/lib/python3.6/dist-packages (1.1.0)
Requirement already satisfied, skipping upgrade: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas) (2018.9)
Requirement already satisfied, skipping upgrade: numpy>=1.15.4 in /usr/local/lib/python3.6/dist-packages (from pandas) (1.18.5)
Requirement already satisfied, skipping upgrade: python-dateutil>=2.7.3 in /usr/local/lib/python3.6/dist-packages (from pandas) (2.8.1)
Requirement already satisfied, skipping upgrade: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [2]:
from google.colab import drive
drive.mount('/content/drive/')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive/

In [3]:
%cd '/content/drive/My Drive/Colab Notebooks/db'
!ls

/content/drive/My Drive/Colab Notebooks/db
dataset_london_bikeshare.csv  test.csv	test.json     test.pkl
Meteorite_Landings.csv	      test.hdf	test.parquet  test.xlsx

In [4]:
import pandas as pd
import numpy as np
pd.__version__

'1.1.0'

In [5]:
df_lmerged = pd.read_csv('dataset_london_bikeshare.csv')
df_lmerged

                 timestamp   cnt   t1  ...  is_holiday  is_weekend  season
0      2015-01-04 00:00:00   182  3.0  ...         0.0         1.0     3.0
1      2015-01-04 01:00:00   138  3.0  ...         0.0         1.0     3.0
2      2015-01-04 02:00:00   134  2.5  ...         0.0         1.0     3.0
3      2015-01-04 03:00:00    72  2.0  ...         0.0         1.0     3.0
4      2015-01-04 04:00:00    47  2.0  ...         0.0         1.0     3.0
...                    ...   ...  ...  ...         ...         ...     ...
17409  2017-01-03 19:00:00  1042  5.0  ...         0.0         0.0     3.0
17410  2017-01-03 20:00:00   541  5.0  ...         0.0         0.0     3.0
17411  2017-01-03 21:00:00   337  5.5  ...         0.0         0.0     3.0
17412  2017-01-03 22:00:00   224  5.5  ...         0.0         0.0     3.0
17413  2017-01-03 23:00:00   139  5.0  ...         0.0         0.0     3.0

[17414 rows x 10 columns]

In [7]:
df_lmerged.dtypes

timestamp        object
cnt               int64
t1              float64
t2              float64
hum             float64
wind_speed      float64
weather_code    float64
is_holiday      float64
is_weekend      float64
season          float64
dtype: object

In [10]:
df_lmerged['timestamp'] = pd.to_datetime(df_lmerged['timestamp'])

In [11]:
df_lmerged['hour'] = df_lmerged['timestamp'].dt.hour
df_lmerged['hour']

0         0
1         1
2         2
3         3
4         4
         ..
17409    19
17410    20
17411    21
17412    22
17413    23
Name: hour, Length: 17414, dtype: int64

In [13]:
df = df_lmerged.iloc[:,1:]
df

        cnt   t1   t2    hum  ...  is_holiday  is_weekend  season  hour
0       182  3.0  2.0   93.0  ...         0.0         1.0     3.0     0
1       138  3.0  2.5   93.0  ...         0.0         1.0     3.0     1
2       134  2.5  2.5   96.5  ...         0.0         1.0     3.0     2
3        72  2.0  2.0  100.0  ...         0.0         1.0     3.0     3
4        47  2.0  0.0   93.0  ...         0.0         1.0     3.0     4
...     ...  ...  ...    ...  ...         ...         ...     ...   ...
17409  1042  5.0  1.0   81.0  ...         0.0         0.0     3.0    19
17410   541  5.0  1.0   81.0  ...         0.0         0.0     3.0    20
17411   337  5.5  1.5   78.5  ...         0.0         0.0     3.0    21
17412   224  5.5  1.5   76.0  ...         0.0         0.0     3.0    22
17413   139  5.0  1.0   76.0  ...         0.0         0.0     3.0    23

[17414 rows x 10 columns]

## Operaciones

    + add()
    - sub(), substract()
    * mul(), multiply()
    /  truediv(), div(), divide()
    // floordiv()
    %  mod()
    ** pow()

ejemplo de restas entre columnas del dataframe:

    df['nombre_columa_1'] - df['nombre_columa_2']
    # ó
    sub(df['nombre_columa_1'], df['nombre_columa_2'])