<a href="https://colab.research.google.com/github/cristian-rincon/escuela-datascience/blob/master/manipulacion_datos_pandas/5_maths.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#!pip install --upgrade pandas

In [3]:
from google.colab import drive
drive.mount('/content/drive/')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive/

In [2]:
%cd '/content/drive/My Drive/Colab Notebooks/db'
!ls

/content/drive/My Drive/Colab Notebooks/db
dataset_london_bikeshare.csv  test.csv	test.json     test.pkl
Meteorite_Landings.csv	      test.hdf	test.parquet  test.xlsx

In [3]:
import pandas as pd
import numpy as np
pd.__version__

'1.1.0'

In [4]:
df_lmerged = pd.read_csv('dataset_london_bikeshare.csv')
df_lmerged

                 timestamp   cnt   t1  ...  is_holiday  is_weekend  season
0      2015-01-04 00:00:00   182  3.0  ...         0.0         1.0     3.0
1      2015-01-04 01:00:00   138  3.0  ...         0.0         1.0     3.0
2      2015-01-04 02:00:00   134  2.5  ...         0.0         1.0     3.0
3      2015-01-04 03:00:00    72  2.0  ...         0.0         1.0     3.0
4      2015-01-04 04:00:00    47  2.0  ...         0.0         1.0     3.0
...                    ...   ...  ...  ...         ...         ...     ...
17409  2017-01-03 19:00:00  1042  5.0  ...         0.0         0.0     3.0
17410  2017-01-03 20:00:00   541  5.0  ...         0.0         0.0     3.0
17411  2017-01-03 21:00:00   337  5.5  ...         0.0         0.0     3.0
17412  2017-01-03 22:00:00   224  5.5  ...         0.0         0.0     3.0
17413  2017-01-03 23:00:00   139  5.0  ...         0.0         0.0     3.0

[17414 rows x 10 columns]

In [5]:
df_lmerged.dtypes

timestamp        object
cnt               int64
t1              float64
t2              float64
hum             float64
wind_speed      float64
weather_code    float64
is_holiday      float64
is_weekend      float64
season          float64
dtype: object

In [6]:
df_lmerged['timestamp'] = pd.to_datetime(df_lmerged['timestamp'])

In [7]:
df_lmerged['hour'] = df_lmerged['timestamp'].dt.hour
df_lmerged['hour']

0         0
1         1
2         2
3         3
4         4
         ..
17409    19
17410    20
17411    21
17412    22
17413    23
Name: hour, Length: 17414, dtype: int64

In [8]:
df = df_lmerged.iloc[:,1:]
df

        cnt   t1   t2    hum  ...  is_holiday  is_weekend  season  hour
0       182  3.0  2.0   93.0  ...         0.0         1.0     3.0     0
1       138  3.0  2.5   93.0  ...         0.0         1.0     3.0     1
2       134  2.5  2.5   96.5  ...         0.0         1.0     3.0     2
3        72  2.0  2.0  100.0  ...         0.0         1.0     3.0     3
4        47  2.0  0.0   93.0  ...         0.0         1.0     3.0     4
...     ...  ...  ...    ...  ...         ...         ...     ...   ...
17409  1042  5.0  1.0   81.0  ...         0.0         0.0     3.0    19
17410   541  5.0  1.0   81.0  ...         0.0         0.0     3.0    20
17411   337  5.5  1.5   78.5  ...         0.0         0.0     3.0    21
17412   224  5.5  1.5   76.0  ...         0.0         0.0     3.0    22
17413   139  5.0  1.0   76.0  ...         0.0         0.0     3.0    23

[17414 rows x 10 columns]

## Operaciones

    + add()
    - sub(), substract()
    * mul(), multiply()
    /  truediv(), div(), divide()
    // floordiv()
    %  mod()
    ** pow()

ejemplo de restas entre columnas del dataframe:

    df['nombre_columa_1'] - df['nombre_columa_2']
    # ó
    sub(df['nombre_columa_1'], df['nombre_columa_2'])

In [9]:
def fun_1(x):
  y = (x**2) + 1
  return y

In [12]:
fun_1(2)

5

In [10]:
np.arange(-5,6) #crea rangos de datos

array([-5, -4, -3, -2, -1,  0,  1,  2,  3,  4,  5])

In [11]:
np.arange(-5,6).shape #cuenta la cantidad de datos del array

(11,)

In [12]:
fun_1(np.arange(-5,6))

array([26, 17, 10,  5,  2,  1,  2,  5, 10, 17, 26])

In [13]:
df['hour'].apply(fun_1)

0          1
1          2
2          5
3         10
4         17
        ...
17409    362
17410    401
17411    442
17412    485
17413    530
Name: hour, Length: 17414, dtype: int64

In [14]:
def fun_2(x, a=1,b=0):
  y = (x**2) + a*x + b
  return y

In [15]:
fun_2(10, a=20, b = -10)

290

In [16]:
df['hour'].apply(fun_2, args=(20,-100))
# df['hour'].apply(fun_2, a=20,b=-100)

0       -100
1        -79
2        -56
3        -31
4         -4
        ...
17409    641
17410    700
17411    761
17412    824
17413    889
Name: hour, Length: 17414, dtype: int64

## Lambda

In [17]:
df['hour'].apply(lambda x: x+273)

0        273
1        274
2        275
3        276
4        277
        ...
17409    292
17410    293
17411    294
17412    295
17413    296
Name: hour, Length: 17414, dtype: int64

### Calculando entre columnas con lambdas

In [18]:
df.apply(lambda x: x.mean())

cnt             1143.101642
t1                12.468091
t2                11.520836
hum               72.324954
wind_speed        15.913063
weather_code       2.722752
is_holiday         0.022051
is_weekend         0.285403
season             1.492075
hour              11.513265
dtype: float64

### Calculando entre filas con lambdas

In [19]:
df.apply(lambda x: x.mean(), axis=1)

0         29.30
1         24.75
2         24.25
3         18.40
4         15.75
          ...
17409    117.30
17410     67.60
17411     47.45
17412     35.90
17413     27.10
Length: 17414, dtype: float64

In [20]:
df.apply(lambda x: x.std())

cnt             1085.108068
t1                 5.571818
t2                 6.615145
hum               14.313186
wind_speed         7.894570
weather_code       2.341163
is_holiday         0.146854
is_weekend         0.451619
season             1.118911
hour               6.915893
dtype: float64

In [21]:
df.apply(lambda x: x['t1']-x['t2'],axis=1)

0        1.0
1        0.5
2        0.0
3        0.0
4        2.0
        ...
17409    4.0
17410    4.0
17411    4.0
17412    4.0
17413    4.0
Length: 17414, dtype: float64

In [22]:
df.applymap(lambda x: x/1000)

         cnt      t1      t2     hum  ...  is_holiday  is_weekend  season   hour
0      0.182  0.0030  0.0020  0.0930  ...         0.0       0.001   0.003  0.000
1      0.138  0.0030  0.0025  0.0930  ...         0.0       0.001   0.003  0.001
2      0.134  0.0025  0.0025  0.0965  ...         0.0       0.001   0.003  0.002
3      0.072  0.0020  0.0020  0.1000  ...         0.0       0.001   0.003  0.003
4      0.047  0.0020  0.0000  0.0930  ...         0.0       0.001   0.003  0.004
...      ...     ...     ...     ...  ...         ...         ...     ...    ...
17409  1.042  0.0050  0.0010  0.0810  ...         0.0       0.000   0.003  0.019
17410  0.541  0.0050  0.0010  0.0810  ...         0.0       0.000   0.003  0.020
17411  0.337  0.0055  0.0015  0.0785  ...         0.0       0.000   0.003  0.021
17412  0.224  0.0055  0.0015  0.0760  ...         0.0       0.000   0.003  0.022
17413  0.139  0.0050  0.0010  0.0760  ...         0.0       0.000   0.003  0.023

[17414 rows x 10 columns]