<a href="https://colab.research.google.com/github/cristian-rincon/escuela-datascience/blob/master/manipulacion_datos_pandas/6_manejo_variables_texto.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [4]:
data = {'names':['Sara Moreno 34',
                 'jUAn GOMez 23',
                 'CArlos mArtinez 89',
                 'Alfredo VelaZques 3',
                 'luis Mora 56',
                 '@freddier #platzi 10',pd.NA]}

In [5]:
df = pd.DataFrame(data)
df

                  names
0        Sara Moreno 34
1         jUAn GOMez 23
2    CArlos mArtinez 89
3   Alfredo VelaZques 3
4          luis Mora 56
5  @freddier #platzi 10
6                  <NA>

## Convertir a minúsculas

In [6]:
df['names'].str.lower()

0          sara moreno 34
1           juan gomez 23
2      carlos martinez 89
3     alfredo velazques 3
4            luis mora 56
5    @freddier #platzi 10
6                    <NA>
Name: names, dtype: object

## Convertir a mayúsculas

In [7]:
df['names'].str.upper()

0          SARA MORENO 34
1           JUAN GOMEZ 23
2      CARLOS MARTINEZ 89
3     ALFREDO VELAZQUES 3
4            LUIS MORA 56
5    @FREDDIER #PLATZI 10
6                    <NA>
Name: names, dtype: object

## Convertir solo la primera letra en mayúscula

In [8]:
df['names'].str.capitalize()

0          Sara moreno 34
1           Juan gomez 23
2      Carlos martinez 89
3     Alfredo velazques 3
4            Luis mora 56
5    @freddier #platzi 10
6                    <NA>
Name: names, dtype: object

## Contar la longitud del texto

In [9]:
df['names'].str.len()

0      14
1      13
2      18
3      19
4      12
5      20
6    <NA>
Name: names, dtype: object

## Dividir el texto por espacio ' '

In [10]:
df['names'].str.split(' ')

0          [Sara, Moreno, 34]
1           [jUAn, GOMez, 23]
2      [CArlos, mArtinez, 89]
3     [Alfredo, VelaZques, 3]
4            [luis, Mora, 56]
5    [@freddier, #platzi, 10]
6                        <NA>
Name: names, dtype: object

### Ó por un símbolo #

In [11]:
df['names'].str.split('#')

0           [Sara Moreno 34]
1            [jUAn GOMez 23]
2       [CArlos mArtinez 89]
3      [Alfredo VelaZques 3]
4             [luis Mora 56]
5    [@freddier , platzi 10]
6                       <NA>
Name: names, dtype: object

## Seleccionar los primeros 5 caracteres

In [12]:
df['names'].str[:5]

0    Sara
1    jUAn
2    CArlo
3    Alfre
4    luis
5    @fred
6     <NA>
Name: names, dtype: object

### últimos 5 caracteres

In [14]:
df['names'].str[-5:]

0    no 34
1    ez 23
2    ez 89
3    ues 3
4    ra 56
5    zi 10
6     <NA>
Name: names, dtype: object

In [15]:
df['names'].str.replace('Alfredo','Cristian')

0          Sara Moreno 34
1           jUAn GOMez 23
2      CArlos mArtinez 89
3    Cristian VelaZques 3
4            luis Mora 56
5    @freddier #platzi 10
6                    <NA>
Name: names, dtype: object

In [16]:
df['names'].str.findall('ara')

0    [ara]
1       []
2       []
3       []
4       []
5       []
6     <NA>
Name: names, dtype: object

In [21]:
df['names'].str.contains('or')

0     True
1    False
2    False
3    False
4     True
5    False
6     <NA>
Name: names, dtype: object

In [22]:
df['names'].str.lower().str.count('a')

0       2
1       1
2       2
3       2
4       1
5       1
6    <NA>
Name: names, dtype: object

In [27]:
df['names'].str.extract('([0-9]+)',expand=False)

0     34
1     23
2     89
3      3
4     56
5     10
6    NaN
Name: names, dtype: object

In [29]:
df['names'].str.replace('@[^\s]+','')

0         Sara Moreno 34
1          jUAn GOMez 23
2     CArlos mArtinez 89
3    Alfredo VelaZques 3
4           luis Mora 56
5             #platzi 10
6                   <NA>
Name: names, dtype: object