<a href="https://colab.research.google.com/github/cristian-rincon/escuela-datascience/blob/master/manipulacion_datos_pandas/9_merge.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Preparando el espacio de trabajo

In [1]:
import pandas as pd
pd.__version__

'1.0.5'

## Inicializando los dataframes de pruebas

In [4]:
df_left = pd.DataFrame(
    {'X':['x0','x1','x2','x3'],
    'W':['w0','w1','w2','w3'],
    'Y':['y0','y1','y2','y3'],
    'Mix':['y2','y3','a2','a3']},
    index = ['y2','y3','a2','a3'])

df_left

     X   W   Y Mix
y2  x0  w0  y0  y2
y3  x1  w1  y1  y3
a2  x2  w2  y2  a2
a3  x3  w3  y3  a3

In [3]:
df_right = pd.DataFrame(
    {'Z':['z2','z3','z4','z5'],
     'A':['a2','a3','a4','a5'],
     'Y':['y2','y3','y4','y5']},
    index = [2,3,4,5])

df_right

    Z   A   Y
2  z2  a2  y2
3  z3  a3  y3
4  z4  a4  y4
5  z5  a5  y5

In [6]:
pd.merge(df_left,df_right)

    X   W   Y Mix   Z   A
0  x2  w2  y2  a2  z2  a2
1  x3  w3  y3  a3  z3  a3

## Tipos de merge

* Inner
```python
pd.merge(df_left,df_right, how='inner')
```
* Outer
```python
pd.merge(df_left,df_right, how='outer')
```
* Left
```python
pd.merge(df_left,df_right, how='left')
```
* Right
```python
pd.merge(df_left,df_right, how='right')
```

Sólo sería necesario cambiar el parámetro How

In [7]:
pd.merge(df_left,df_right, how='inner', on='Y')

    X   W   Y Mix   Z   A
0  x2  w2  y2  a2  z2  a2
1  x3  w3  y3  a3  z3  a3

In [12]:
pd.merge(df_left,df_right, how='inner', left_on='Mix', right_on='Y', suffixes=['_left','_right'])

    X   W Y_left Mix   Z   A Y_right
0  x0  w0     y0  y2  z2  a2      y2
1  x1  w1     y1  y3  z3  a3      y3

In [13]:
pd.merge(df_left,df_right, how='inner', left_on='Mix', right_on='A')

    X   W Y_x Mix   Z   A Y_y
0  x2  w2  y2  a2  z2  a2  y2
1  x3  w3  y3  a3  z3  a3  y3